<div class="container-fluid">
  <label for="select" class="col-xs-2 control-label">Select Your Data</label>
  <br><br>
  <form class="form-inline col-xs-12">
		<div ng-show="show" ng-init="show=1">
	  		<div class="form-group col-xs-4">
				<label>Options</label>
	  		</div>
			<div class="form-group col-xs-4">
		  		<select class="form-control" id="select" style="width: 50%">
					<option>Merchant</option>
					<option>Total Spending</option>
					<option>Categories</option>
					<option>Frequency</option>
					<option>Time</option>
			  	</select>
			</div>
			<button type="button" class="btn btn-default col-xs-2" aria-label="Plus" ng-click="show=0">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		  	</button>

		  	<button ng-click="onclick()" type="button" class="btn btn-default col-xs-2">Search</button>
	  	</div>

	   <div ng-show="!show">
		   <div class="form-group col-xs-4">
			   <label for="exampleInputName2">Options</label>
	  		</div>
			<div class="form-group col-xs-2">
		  		<select class="form-control" id="select" style="width: 50%">
					<option>Merchant</option>
					<option>Total Spending</option>
					<option>Categories</option>
					<option>Frequency</option>
					<option>Time</option>
			  	</select>
			</div>
			<div class="form-group col-xs-2">
		  		<select class="form-control" id="select" style="width: 50%">
					<option>Merchant</option>
					<option>Total Spending</option>
					<option>Categories</option>
					<option>Frequency</option>
					<option>Time</option>
			  	</select>
			</div>

			<button type="button" class="btn btn-default col-xs-2" aria-label="Minus" ng-click="show=1">
				<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		  	</button>

			<button ng-click="onclick()" type="button" class="btn btn-default col-xs-2">Search</button>
	   </div>
	</form>

	<div ng-if="display == true" style="width: 1000px;margin: 0 auto;">
		<canvas style="width: 100%" id="bar" class="chart chart-bar"
	  		chart-data="finalArr" chart-labels="labels" chart-series="series"></canvas>
		<canvas id="pie" class="chart chart-pie"
	  		chart-data="pieData" chart-labels="labels" chart-options="options">
		</canvas> 
	</div>
</div>
