<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
	<meta charset="utf-8">
	<title>Element</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="app.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-controller="mainCtrl as ctrl">

	<div class="jumbotron container-fluid">
  		<h1>Welcome to Element</h1>
  		<p>This a simple data visulization web application. Designed to visualize credit card transactions. Blah BLah blah</p>
	</div>

	<search hero="ctrl.hero"></search>
	<br><br><br>
	<summary></summary>

	<div ng-show="show" ng-click="show=0" ng-init="show=1">
	    <p>1</p>
		<button type="button" class="btn btn-default" aria-label="Plus">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  	</button>
	</div>

	<div ng-show="!show" ng-click="show=1">
		<p>1</p>
	    <p>2</p>
		<button type="button" class="btn btn-default" aria-label="Minus">
			<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
	  	</button>
	</div>

	<script src="app.js"></script>
	<script src="searchBar/searchBar.js"></script>
	<script src="dataSummary/dataSummary.js"></script>

</body>
</html>
